* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header.cabecalho nav {
  display: flex;
  justify-content: space-between;
}

header.cabecalho nav ul {
  display: flex;
}

header.cabecalho nav ul.links {
  gap: 40px;
}

header.cabecalho ul {
  list-style-type: none;
}